* { 
    margin: 0;
    box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: hsl(26, 85%, 95%, 1);
  line-height: 30px;
}
.header {
  top: 0;
  display: flex;
  z-index: 10;
  width: 100%;
  box-shadow: 0 5px 5px hsl(26,20%,50%,1);
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: hsl(26,50%,99%,1);
}
.header__img {
  width: 100px;
}
.header__title {
  font-style: italic;
  font-size: 40px;
}
.header__navlink {
  color: hsl(26,20%,25%,1);
  font-weight: bold;
}
.header__navlink, .footer__navlink {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}
.content {
  margin-top: 100px;
  max-width: 70%;
}
.section {
  margin-bottom: 100px;
}
.section__title:before { 
  content: ''; 
  display: block; 
  position: relative; 
  width: 0; 
  height: 5em; 
  margin-top: -5em 
} 
.section__title {
  margin-bottom: 15px;
}
.videobox {
  width: 80%; 
  max-width: 600px; 
  height: 100%; 
  margin: 50px auto 0px auto; 
}
.videobox__body {
  position: relative; 
  padding-top: 56%;
}
.videobox__content {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin: 50px 0;
}
.features__img {
  width: 25%;
  grid-row: 1;
  justify-content: center;
}
.slideshow {
  max-width: 90%;
  position: relative;
  margin: auto;
  background-color: hsl(26, 65%, 90%, 0.9);
  box-shadow: 0 0 4px 1px hsl(26, 20%, 50%, 0.9);
}
.slideshow__slide {
  display: none;
}
.slideshow__text {
  color: hsl(26,20%,25%,1);
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

.slideshow__img {
  max-width: 70%;
}
.slideshow__prev, .slideshow__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow__prev:hover, .slideshow__next:hover {
  background-color: hsl(26,20%,50%,0.8);
}

.slideshow__dots {
  text-align: center;
}
.slideshow__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: hsl(26,20%,70%,1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow__dot_active, .slideshow__dot:hover {
  background-color: hsl(26,20%,50%,1);
}
.form {
  display: flex;
  flex-direction: column;
}
.form__description, .form__email {
  background-color: hsl(26, 65%, 90%, 0.9);
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: 0 0 3px 1px hsl(26, 20%, 50%, 0.9);
  margin-top: 5px;
  margin-bottom: 10px;
}
.form__description {
  resize: none;
  font-family: 'Raleway', sans-serif;
}
.form__submit {
  width: 15%;
  padding: 10px 0;
  text-align: center;
  background-color: hsl(26, 60%, 70%, 0.9);
  border-radius: 15px;
  border: solid 1px hsl(26, 20%, 50%, 0.9);
  box-shadow: 0 0 2px 0.4px hsl(26, 20%, 50%, 0.9);
  margin: 10px auto;
}
.form__description:hover, 
.form__email:hover, 
.form__submit:hover {
  box-shadow: 0 0 3px 2px hsl(26, 20%, 50%, 0.9);
}
.form__submit:hover {
  box-shadow: 0 0 2px 1px hsl(26, 20%, 50%, 0.9);
  background-color: hsl(26, 60%, 65%, 0.9);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(26,20%,95%,1);
  background-color: hsl(26,30%,25%,1);
  padding: 30px 20px 20px 20px;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 0 3px  hsl(26,20%,15%,1)
}
.footer__navlink {
  color: hsl(26,20%,95%,1);
}
.footer__divider {
  width: 99%;
  border: 1px hsl(26,30%,20%,1) solid;
  box-shadow: 0 0 6px hsl(26,25%,15%,1);
  margin: 20px 0;
}
.footer__copyright {
  margin-left: auto;
  padding-top: 20px;
}

@media (max-width: 700px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
  }
  .header__title, .header__img {
    grid-row: 1;
  }
  .header__title {
    font-size: 25px;
  }
  .header__img {
    width: 25%;
  }
  .header__navbar {
    grid-row: 2;
    grid-column: 1 / 4;
  }
  .header__navlink, .footer__navlink {
    font-size: 15px;
  }
  .content {
    max-width: 90%;
  }
  .section__text {
    font-size: 17px;
  }
  .videobox {
    width: 95%;
    margin-top: 15px;
  }
  .features {
    display: flex;
    flex-direction: column;
  }
  .features__text {
    margin-bottom: 25px;
  }
  .slideshow {
    max-width: 100%;
  }
  .slideshow__slide {
    flex-direction: column;
    align-items: center;
  }
  .slideshow__img {
    max-width: 100%;
  }
  .slideshow-text {
    margin: 10px 0;
  }
  .slideshow__next, .slideshow__prev {
    padding: 10px;
  }
  .form__submit {
    width: 35%;
  }
  .form__copyright {
    font-size: 17px;
  }
}